GCCProject/*
Computed/*
!Manual/Manual.tex
MVSProject/Release/*
MVSProject/Debug/*
MVSProject/ipch/*
MVSProject/Parsybone.sdf
MVSProject/Parsybone.suo
MVSProject/Parsybone.opensdf
MVSProject/Parsybone.exe


